<%= form_for @user do |f| %>
 <div class="field"><p>I am a</p>
    <%= f.radio_button(:user_role_id, 1) %>
    <%= f.label(:user_role_id_1, "Media") %>
    <%= f.radio_button(:user_role_id, 2) %>
    <%= f.label(:user_role_id_2, "Source") %>
  </div>
  <div>
    <div class="field">
      <%= f.text_field :first_name, :placeholder => " First Name" %>
    </div>

    <div class="field">
      <%= f.text_field :last_name, :placeholder => "Last Name"%>
    </div>
  </div>

  <div class="field">
    <%= f.text_field :email, :placeholder => "Email" %>
  </div>

  <div class="field">
     <%= f.password_field :password, :placeholder => "Password" %>
  </div>

  <div class="field">
     <%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>
  </div>

  <div class="actions"><%= f.submit "Join", :class => "button" %></div>
<% end %>
