  <div class="large-4 columns left-col ">

    <div class="lowerleft">
      <h2><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h2>
      <% if current_user == @user %>
        <%= link_to "Edit your profile", edit_user_path, :class=>"button" %>
      <% end %>

      <div><%= image_tag 'email.png', size:"30" %> <%= @user.email %></div>
      <div><%= image_tag 'place-512.png', size:"25" %><%= @user.location %></div>
      <h3>Bio:</h3><p><%= @user.bio %></p>
      <h3><%= @user.organization %></h3>
      <div>
      <h3>Interests:</h3>
        <% @user.interests.each do |i| %>
          <li style="list-style-type:none"><%= i.topic %>: <%= i.name %></li>
        <% end %>
      </div>
    </div>
  </div>
  <div class="large-8 columns right-col">
    <h3>Your activity:</h3>
    <% @callouts.each do |c| %>
      <% if c != nil %>
        <%= link_to (callout_path(c.id)) do %>
          <div class="callout-display">
            <%= image_tag(c.image) %>
          <p><%= c.subject %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
