<p> Users show!</p>
Email address: <%= @user.email %><br />
Name: <%= @user.first_name %><%= @user.last_name %><br />
Bio: <%= @user.bio %><br />
Organization: <%= @user.organization %><br />
Location: <%= @user.location %>