
<h4>Choose your Interests</h4>

<dl class="accordion" data-accordion>
  <dd class="active"><a href="#issues">Issues</a>
    <div class="content active" id="issues">
      <% @issue_interests.each do |i| %>
        <% if i.parent_id == 0 %>
          <% if @selected_interests.include?(i) %>
            <% checked = true %>
          <% else %>
            <% checked = false %>
          <% end %>
          <div class="one-line">
          <%= check_box_tag 'interests[]', i.id, checked, :id => "interest_#{i.id}" %>
          <%= label_tag "interest_#{i.id}", i.name %>
        </div>
        <% end %>
      <% end %>
    </div>
  </dd>

  <dd><a href="#locations">Locations</a>

  <div class="content" id="locations">
      <% main_parents = @location_interests.select { |i| i if i.parent_id == 0 } %>
      <% main_parents.each do |p| %>
        <h4 id="<%=p.id%>" ><%=p.name%></a>
          <% children = @location_interests.select { |i| i if i.parent_id == p.id} %></h4>
          <% if !children.empty? %>
            <div id="panel<%="#{p.id}"%>" class="content active" >
              <%= check_box_tag 'all', p.id, false, :id => "all", :class => "checkboxes" %>
                <%= label_tag "all", "All" %>
              <% children.each do |i| %>
                <% if @selected_interests.include?(i) %>
                  <% checked = true %>
                <% else %>
                  <% checked = false %>
                <% end %>
                  <div class="one-line">

                  <%= check_box_tag 'interests[]', i.id, checked, :id => "interest_#{i.id}", :class => "checkboxes", :data => {"parent_id" => "#{p.id}" } %>

                  <%= label_tag "interest_#{i.id}", i.name %>
                </div>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </div>
  </dd>

  <dd><a href="#mediatypes">Media Types</a></dd>

</dl>
