<div class="row">
  <div class="small-8 columns">
    <h1><%= header %></h1>

    <%= form_for @callout do |c| %>
      <%= c.label :subject %>
      <%= c.text_field :subject %>
      <%=c.label :image %>
      <%=c.file_field :image %>
      <%= c.label "#{end_time}" %>
      <%= c.datetime_select :deadline %>
      <%= c.label :description %>
      <%= c.text_area :description %>
      <%= c.submit "Submit", :class =>"button" %>

  </div>
  <div class="small-4 columns">
      <%= render "interests/interests_render" %>
  </div>

<% end %>
