<h1><%= header %></h1>

<%= form_for @callout do |c| %>
  <div class="row">
    <div class="small-12 columns">
      <%= c.label :subject %><br />
      <%= c.text_field :subject %>
      <%= c.label "#{end_time}" %><br />
      <%= c.datetime_select :deadline %>
      <%= c.label :description %><br />
      <%= c.text_area :description %>
      <%=c.label :image %>
      <%=c.file_field :image %>
      <%= render "interests/interests_render" %> 
      <%= c.submit "Submit" %>
    </div>
  </div>

<% end %>
