<% if @callout.replies.empty? %>
  <p> No responses yet! </p>

<% else %>

  <% messengers = [] %>

  <!-- do server side in reply model -->
  <% @callout.replies.each do |r| %>
    <% unless (r.sender == current_user) %>
        <% messengers << r.sender %>
    <% end %>
  <% end %>

  <% if messengers.sort!.length > 1 %>
    <% messengers.uniq! %>
  <% end %>
  <!-- do server side -->

  <dl class="tabs vertical" data-tab>
    <% messengers.each do |m| %>
      <dd>
        <a class="messenger" href="#<%=m.id%>" data-id="<%=m.id%>" data-callout="<%=@callout.id%>">
          <% if current_user.is_media? %>
            <%= m.first_name %>
          <% else %>
            <%= m.location %>
          <% end %>
        </a>
      <dd>
    <% end %>
  </dl>
  
  <%= render :partial => "messages", :locals => {:callout => @callout, :messenger => messengers.first, :reply => @reply } %>

<% end %>
