<% if @callout.replies.first.id == nil %>
  <p> No responses yet! </p>
<% else %>
  <% messengers = [] %>
  <% @callout.replies.each do |r| %>
    <% unless (r.sender == current_user) || (r.sender == nil) %>
        <% messengers << r.sender %>
    <% end %>
  <% end %>

  <% if messengers.sort!.length > 1 %>
    <% messengers.uniq! %>
  <% end %>

  <dl class="tabs vertical" data-tab>
    <% messengers.each do |m| %>
      <dd><a class="messenger" href="#<%=m.id%>" data-id="<%=m.id%>" data-callout="<%=@callout.id%>"><%= m.first_name %></a><dd>
    <% end %>
  </dl>
    <%= render :partial => "messages", :locals => {:callout => @callout, :messenger => messengers.first, :reply => @reply } %>

<% end %>
