  <div class="content active" id="<%=messenger.id%>">
  <% callout.replies.each do |r| %>
    <% if (messenger == r.sender) || (messenger.id == r.receiver_id) %>
      <p><%=r.comment%> <em>by <%= r.sender.first_name %> on <%=r.created_at%></em>
    <% end %>
  <% end %>
    <%= form_for ([callout, reply]) do |f| %>
      <div class="field">
        <%= f.label :comment%><br />
        <%= f.text_area :comment %>
        <%= f.hidden_field :sender_id, :value => current_user.id %>
        <%= f.hidden_field :receiver_id, :value => messenger.id %>
      </div>

      <div class="actions">
        <%= f.submit "Post comment"%>
      </div>
    <% end %>

  </div>
