<% if current_user.user_role_id == 1 %>
  
  

  <h1>Story Suggestions</h1>
  
  <div>
    <% @story_suggests.each do |s| %>
      <li><%= link_to s.subject, callout_path(s.id) %>        
        <% s.interests.each do |i| %>
          <%= i.name %>
        <% end %></li>
      <h3>Filter Suggestions by Interests</h3>
     
    <% end %>
  </div>

<% else %>  

 
  
  <h1>Media Callouts</h1>
    <% @media_callouts.each do |c| %>
      <li><%= link_to c.subject, callout_path(c.id) %>
        <% c.interests.each do |i| %>
          <%= i.name %>
        <% end %>
      </li>
    <% end %>
  <h3>Filter Callouts by Interests</h3>
  
<% end %>

 <%= render "interests/interests_render" %>
