

<div class="off-canvas-wrap">
  <div class="inner-wrap">

    <a class="left-off-canvas-toggle" >Filter Callouts by Interests</a> 

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
      <div style="margin-left:10px; margin-right:10px">
        <hr/>
        <% if current_user.user_role_id == 1 %>
          <% if @story_suggests %>
          <div><%="#{@story_suggests.length} callouts match your interests." %></div>
          <% end %>
        <% else %>
          <% if @media_callouts %>
          <div><%="#{@media_callouts.length} callouts match your interests." %></div>
          <% end %>
        <% end %>
        <hr/>
        <%= render "interests/interests_render" %>
      </div>
    </aside>

    <!-- main content goes here -->
    <% if current_user.user_role_id == 1 %>
  <h1 class="callout_headline">Story Suggestions</h1>
  <%= render :partial => "callouts_render_index", :locals => {:media_callouts => @media_callouts, :story_suggests => @story_suggests} %> 
  

<% else %>

  <h1 class="callout_headline">Media Callouts</h1>
  <%= render :partial => "callouts_render_index", :locals => {:media_callouts => @media_callouts, :story_suggests => @story_suggests} %>
  
  
<% end %>

  <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>

  </div>
</div>




 
