<h1>Callout out out</h1>
<p>Subject: <%= @callout.subject %></p>
<p>Deadline: <%= @callout.deadline %></p>
<p>Description: <%= @callout.description %> </p>

<h3>Replies</h3>

<% if current_user == @callout.user %>
  <%= render :partial => "inbox", :object => @callout %>
<% else %>
  <%= render :partial => "messages", :locals => {:callout => @callout, :messenger => current_user, :reply => @reply } %>
<% end %>