<h1>Callout out out</h1>
<p>Subject: <%= @callout.subject %></p>
<p>Deadline: <%= @callout.deadline %></p>
<p>Description: <%= @callout.description %> </p>


<% @callout.replies.each do |r| %>
  <%= r.comment %><br />
  <%= r.created_at %><br />
  <%= r.sender.first_name %><br /><br />
<% end %>

<%= form_for ([@callout, @reply]) do |f| %>
  <div class="field">
    <%= f.label :comment%><br />
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit "Post comment"%>
  </div>
<% end %>