<h1>Callout out out</h1>

<% if @callout.user.is_media? %>
  <p>By a media user from <%= @callout.user.location %></p>
<% else %>  
  <p>By <%= @callout.user.first_name %></p>
<% end %>
<p>Subject: <%= @callout.subject %></p>
<p>Deadline: <%= @callout.deadline %></p>
<p>Description: <%= @callout.description %> </p>

<h3>Replies</h3>

<% if current_user == @callout.user %>
  <%= render :partial => "inbox", :object => @callout %>
<% else %>
  <%= render :partial => "messages", :locals => {:callout => @callout, :messenger => @callout.user, :reply => @reply } %>
<% end %>
