<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "SourceRise" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <% if current_user %>
        <h1> <%= link_to "SourceRise", user_path(current_user) %></h1>
      <% else %>
        <h1><%= link_to "SourceRise", root_url %></h1>
      <% end %>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user %>
        <li class="active"><%= link_to current_user.first_name.capitalize, user_path(current_user.id) %></li>
        <li>
          <%= link_to "Logout", :logout, method: :post %>
        </li>
      <% else %>
        <li class="active"><%= link_to "Login", :login %></li>
        <li><%= link_to "Register", root_url %></li>
      <% end %>
    </ul>

    <ul class="left">
      <% if current_user %>
        <% if current_user.user_role_id == 1 %>
          <li><%= link_to "View Source Story Suggests", callouts_path %></li>
          <li><%= link_to "Make a Callout", new_callout_path %> </li>

        <% else %>
          <li><%= link_to "View Media Callouts", callouts_path %> </li>
          <li><%= link_to "Suggest a Story", new_callout_path %></li>
        <% end %>
      <% end %>
    </ul>

  </section>
</nav>


  <% if flash[:notice] %>
    <div style="text-align:center" id="notice" data-notice class="alert-box info radius"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div style="text-align:center" id="alert" data-alert class="alert-box warning radius"><%= flash[:alert] %></div>
  <% end %>


      <%= yield %>
    </div>



    <%= javascript_include_tag "application" %>
  </body>
</html>
